p.song span {
  display: none;
}
p.song.show-chords p {
  line-height:2.5em;
  margin-bottom:2em;
}
p.song.show-chords span {
  position: relative;
  top: -1em;
  display:inline-block;
  overflow:visible;
  width:0;
  white-space:nowrap;
  text-shadow:#CCC -1px 1px;
  color:#00285c;
  font-weight:bold;
  line-height:2.5em;
}
p.song.show-chords {
    padding-top: 5px;
}
